<a href="https://colab.research.google.com/github/K-Irwin8/LearningML/blob/main/AI%E5%AE%9F%E8%B7%B5%E8%AC%9B%E5%BA%A7_k%E8%BF%91%E9%83%8A%E6%B3%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn import datasets

In [ ]:
iris = datasets.load_iris()

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(data=iris.data, columns=iris.feature_names)

In [ ]:
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

ここがなぞ。 i thought target = 特徴量 and label is like the 予測値 => ググったけど合ってる。 so why this code ???

In [ ]:
df['label'] = iris.target

In [ ]:
del df['labal']

In [ ]:
df

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  label
0                  5.1               3.5  ...               0.2      0
1                  4.9               3.0  ...               0.2      0
2                  4.7               3.2  ...               0.2      0
3                  4.6               3.1  ...               0.2      0
4                  5.0               3.6  ...               0.2      0
..                 ...               ...  ...               ...    ...
145                6.7               3.0  ...               2.3      2
146                6.3               2.5  ...               1.9      2
147                6.5               3.0  ...               2.0      2
148                6.2               3.4  ...               2.3      2
149                5.9               3.0  ...               1.8      2

[150 rows x 5 columns]

***この data を 特徴量とラベルに分ける***

X is the "label" or the the data you are trying to perdict/正解のデータ/Ng で言えば Y軸
y is the feature data. ググったら, feature data のことをよく target data というらしい

In [ ]:
X= df.drop(columns=['label'])
y= iris.target

***学習用 data と 推論用 data に分ける***

. って日本語の 「の」的な感じ？

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_test, X_train, y_test, y_train = train_test_split(X,y,test_size=0.2, random_state=0)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

***() を入れることを「インスタンス化」という***

An individual object of a certain class. 実際にデータの集合体を生成すること

In [ ]:
model = KNeighborsClassifier()

***モデルを構築したので、今から学習を行う***

In [ ]:
model.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

***予測 (推論) を行う***

In [ ]:
y_pred = model.predict(X_test)

***評価をする***

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
accuracy_score(y_test, y_pred)

0.9166666666666666